<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.t</string>
	<key>CFBundleName</key>
	<string>Uzbek Typography Layouts</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>KLInfo_Oʻzbekcha - farhodjon.uz</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.t.oʻzbekcha-farhodjon.uz</string>
		<key>TISIntendedLanguage</key>
		<string>uz</string>
	</dict>
	<key>KLInfo_Ўзбекча - farhodjon.uz</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.t.ўзбекча-farhodjon.uz</string>
		<key>TISIntendedLanguage</key>
		<string>uz</string>
	</dict>
</dict>
</plist>
